* {
  margin:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin-left:10px;
}

label {
  margin-left:10px;
}

input {
  margin-left:10px;
}

.AuthPanel {
  background-color: #758257;
  padding: 10px;
  margin-bottom: 30px;
  color:#FFF
}

.Wall {
  width:500px;
  margin: 0 auto;
  padding: 15px;
  border-radius:10px;
  background: url('/wall.jpg') repeat
}

.Wall #PostForm {
  margin-bottom:50px;
}

.Wall button {
  display:block;
  margin:10px 0 0 0;
}

.Wall .Post {
  margin-bottom:40px;
}

.Wall .PostForm {
  width: 80%;
  height: 60px;
}

.Wall .Post .Author {
  color: #3452ad;
  background-color: #bdaaaa;
  padding: 5px 5px 5px 15px;
  font-size:15px;
  border-radius: 5px 5px 0 0;
}

.Wall .Post .Message {
  padding: 10px;
  background-color: #FFF;
  border-radius: 0 0 5px 5px; 
}
